{% extends "base.html.twig" %}

    {% block title 'Reservation de billet' %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {% block body %}


        <div class="container">
            <nav aria-label="breadcrumb" class="mt-5">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a class="breadcrumb-item"
                                                          href="{{ path('order') }}">{{ 'breadcrumb.first.label' | trans }}</a>
                    </li>
                    <li class="breadcrumb-item active"><a class="breadcrumb-item"
                                                          href="{{ path('customer') }}">{{ 'breadcrumb.second.label' | trans }}</a>
                    </li>
                    <li class="breadcrumb-item text-success font-weight-bold text-uppercase"
                        style="text-decoration:underline;">{{ 'breadcrumb.third.label' | trans }}</li>
                    <li class="breadcrumb-item active">{{ 'breadcrumb.fourth.label' | trans }}</li>
                    <li class="breadcrumb-item active">{{ 'breadcrumb.five.label' | trans }}</li>
                </ol>
            </nav>
            <div class="row">

                <div class="col-lg-1">
                </div>

                <div class="col-lg-11">
                    <div class="container">
                        <div class="form-group">


                            {{ form_start(form, {'attr': {'class': 'was-validated'}}) }}

                            {% for ticket in form.customer %}

                                <div class="num-billet">{{ 'breadcrumb.third.label' | trans }} :</div><br/>

                                {{ form_row(ticket.lastname) }}<br/>

                                {{ form_row(ticket.firstname) }}<br/>

                                {{ form_row(ticket.email) }}<br/>


                                <div class="num-billet">{{ 'invoice.informations' | trans }} :</div><br/>

                                {{ form_row(ticket.adress) }}<br/>

                                {{ form_row(ticket.postalCode) }}<br/>

                                {{ form_row(ticket.city) }}<br/>

                                {{ form_row(ticket.country) }}<br/>

                            {% endfor %}

                            <div class="col-sm-11">
                                <button type="submit"
                                        class="btn btn-success">{{ 'button.validate' | trans }}</button>
                            </div>

                            {{ form_end(form) }}<br/>


                            <div class="row">
                                <div class="col-sm-1">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}


