{% extends "base.html.twig" %}

    {% block title 'Reservation de billet' %}
{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"rel="stylesheet">{% endblock %}

    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    {% block body %}

        <div class="bg"
             style="background:url({{ asset('build/images/louvre-billet.png') }}) fixed no-repeat !important;">
            <div class="home m-auto" style="overflow: unset;">



                <div class="container">
                    <div class="row">
                        <div class="col-8 p-0">
                            <p class="h5 p-2">1. Choisissez votre date de visite<p>
                            <div class="container">

                                {{ form_start(form, {'attr': {'class': 'was-validated'}}) }}

                                {{ form_row(form._token) }}


                                {{ form_row(form.visitDate) }}
                                <br/>

                                {{ form_row(form.type, {label_attr: {class: 'radio-custom'} }) }}<br/>

                                {{ form_row(form.numberOfTicket) }}<br/>

                                <div class="col-sm-11">
                                    <button type="submit"
                                            class="btn btn-success">Suivant
                                    </button>
                                </div>

                                {{ form_end(form) }}

                            </div>
                        </div>
                        <div class="col-4 p-0">

                            <div class="well" style="background-color: #f5f5f5">
                                <div class="card-header"> HORAIRES</div>
                                <div class="card-body text-secondary">
                                    <ul>
                                        <li>Lundi : 9 h - 18 h</li>
                                        <li>Mardi : fermé</li>
                                        <li>Mercredi : 9 h - 21h45</li>
                                        <li>Jeudi : 9 h - 18 h</li>
                                        <li>Vendredi : 9 h - 21h45</li>
                                        <li>Samedi : 9 h - 18 h</li>
                                        <li>Dimanche : 9 h - 18 h</li>
                                    </ul>
                                </div>
                                <br>
                                <div class="card-header">TARIFS</div>
                                <div class="card-body text-secondary">
                                    <ul>
                                        <li>Normal : {{ constant('App\\Entity\\Ticket::PRICE_ADULT') }} €</li>
                                        <li>Enfant : {{ constant('App\\Entity\\Ticket::PRICE_CHILD') }} € (1)</li>
                                        <li>Senior : {{ constant('App\\Entity\\Ticket::PRICE_SENIOR') }} € (2)</li>
                                        <li>Réduit : {{ constant('App\\Entity\\Ticket::PRICE_DISCOUNT') }} € (3)</li>
                                    </ul>
                                </div>
                                <br>
                                <div class="card-header">CONDITIONS</div>
                                <div class="card-body text-secondary">
                                    <ul>
                                        <li>(1) Jusqu'à {{ constant('App\\Entity\\Ticket::AGE_ADULT') }} ans. gratuit
                                            pour les enfants de moins
                                            de {{ constant('App\\Entity\\Ticket::AGE_CHILD') }} ans
                                        </li>
                                        <li>(2) A partir de {{ constant('App\\Entity\\Ticket::AGE_SENIOR') }} ans</li>
                                        <li>(3) Sous conditions , un justificatif vous sera demandé à l'entrée
                                            (étudiants, militaires, personnel du musée, etc.)
                                        </li>

                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>









    {% endblock %}

{% block javascripts %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>



    <script>
        (function($){
            $.fn.datepicker.dates['fr'] = {
                days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                daysMin: ["d", "l", "ma", "me", "j", "v", "s"],
                months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                today: "Aujourd'hui",
                monthsTitle: "Mois",
                clear: "Effacer",
                weekStart: 1,
                format: "dd/mm/yyyy"
            };
        }(jQuery));



        $('.datepicker').datepicker({
            language: 'fr',
            autoclose: true,
            todayHighlight: true,

        })
    </script>


{% endblock %}


